@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

@import "@tomtom-international/web-sdk-maps";

body {
  font-family: 'Nunito', sans-serif !important;
}


//Text Gradient

.text-gradient {
  background: #424172;
  background: repeating-radial-gradient(circle farthest-corner at top left, #424172 0%, #FF7210 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//Styled Button

.styled-btn {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  transition: all .2s;
  position: relative;
  border: none;
  background: #424172;
}

.styled-btn:before,
.styled-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  background: #FF7210;
  height: 108%;
  width: 0;
  z-index: -1;
  transition: all .7s;
  transform: translateY(-50%);
}

.styled-btn:before {
  left: 0%;
}

.styled-btn:after {
  right: 0%;
}

.styled-btn:hover {
  color: #fff;
  box-shadow: #de4c137f 0 30px 60px -12px inset, #5d2991 0 18px 36px -18px inset;
  z-index: 2;
}

.styled-btn:hover::before {
  width: 50%;
  left: 50%;
}

.styled-btn:hover::after {
  width: 50%;
  right: 50%;
}

//Button

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #424172;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ff7210;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 12px 17px;
  color: #ff7210;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.2em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.button:hover span {
  color: #424172;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

//Errors

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input_container_split {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input_container.success input,
.input_container.success select,
.input_container_split.success input,
.input_container.success textarea {
  border-color: #09c372;
}

.input_container.error input,
.input_container.error select,
.input_container_split.error input,
.input_container.error textarea {
  border-color: #ff3860;
}

.input_container .error,
.input_container_split .error {
  background-color: white;
  color: #ff3860;
  text-align: end;
  font-size: 12px;
  height: 15px;
}

// ***************
// ABOUT US STYLE 
// ***************



.img-bg{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  object-fit: cover;
}
.section{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  .au-card{
      text-align: center;
      width: 60%;
      height: 60%;
      display: flex;
      gap: 2em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 20%;
      top: 20%; 
      opacity: 0;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      img{
          width: 70%;
          transform: scale(1.2);
          transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      div{
          border: 5px solid #ff7210;
          border-radius: .5em;
          background-image: linear-gradient(43deg, #424172 0%, #ff7210 46%, #FF7260 100%);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          padding: 3em;
          color: white;
          font-size: 20px;
          font-weight: 600;
          p{
              margin-top: 10em;
              transition: all 1s;
          }
      }
  }
}
.section.in-page .au-card{
  opacity: 1;
}
.section.in-page .au-card img{
  transform: scale(1);
}
.section.in-page .au-card div p{
  line-height: 2em;
  margin-top: 0;
}
.panel{
  width: 100%;
  height: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  position: relative;
  z-index: 2;
  background-color: #424172;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .panel-container{
      color: white;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5em;
      .fade-text{
          opacity: 0;
          transform: translateY(20vh);
          transition: all 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);
      }
      .fade-text.in-page{
          opacity: 1;
          transform: translateY(0vh);
      }
  }
}
.panel-second{
  background-color: white !important;
  padding-top: 4em;
  padding-bottom: 4em;
}

//ABOUT CARD 

.about-card {
width: 400px;
height: 300px;
background-color: #424172;
background-image: linear-gradient(43deg, #424172 0%, #ff7210 46%, #FF7260 100%);
border-radius: 8px;
color: white;
overflow: hidden;
position: relative;
transform-style: preserve-3d;
perspective: 1000px;
transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
cursor: pointer;
}

.about-card-content {
padding: 20px;
position: relative;
z-index: 1;
display: flex;
flex-direction: column;
gap: 10px;
color: white;
align-items: center;
justify-content: center;
text-align: center;
height: 100%;
}

.about-card-content .about-card-title {
font-size: 24px;
font-weight: 700;
color: inherit;
text-transform: uppercase;
}

.about-card-content .about-card-para {
color: inherit;
opacity: 0.8;
font-size: 16px;
}

.about-card:hover {
transform: rotateY(10deg) rotateX(10deg) scale(1.05);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about-card:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
z-index: 1;
}

.about-card:hover:before {
transform: translateX(-100%);
}

.about-card:after {
content: "";
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
z-index: 1;
}

.about-card:hover:after {
transform: translateX(100%);
}

// WORKER CARD

.worker-card {
width: 190px;
height: 254px;
background: #f5f5f5;
padding: 2rem 1.5rem;
transition: box-shadow .3s ease, transform .2s ease;
}

.worker-card-info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: transform .2s ease, opacity .2s ease;
}

.worker-card-avatar {
--size: 60px;
background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
width: var(--size);
height: var(--size);
border-radius: 50%;
transition: transform .2s ease;
margin-bottom: 1rem;
}

.worker-card-social {
transform: translateY(200%);
display: flex;
justify-content: right;
gap: .7em;
width: 100%;
opacity: 0;
transition: transform .2s ease, opacity .2s ease;
}

.worker-card-social__item {
list-style: none;
}

.worker-card-social__item a {
display: block;
height: 18px;
width: 18px;
color: #515F65;
cursor: pointer;
transition: fill 0.2s ease ,transform 0.2s ease;
}

.worker-card-title {
color: #333;
font-size: 1.5em;
font-weight: 600;
line-height: 2rem;
}

.worker-card-subtitle {
color: #859ba8;
font-size: 0.8em;
}

.worker-card:hover {
box-shadow: 0 8px 50px #23232333;
}

.worker-card:hover .worker-card-info {
transform: translateY(-5%);
}

.worker-card:hover .worker-card-social {
transform: translateY(100%);
opacity: 1;
}

.worker-card-social__item a:hover {
color: #232323;
transform: scale(1.1);
}

.worker-card-avatar:hover {
transform: scale(1.1);
}


